# Code owners file.
# This file controls who is tagged for review for any given pull request.
#
# For syntax help see:
# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners#codeowners-syntax


*     @googleapis/github-automation

packages/auto-label/*                 @googleapis/github-automation @sofisl
packages/blunderbuss/*                @googleapis/github-automation @kurtisvg
packages/flakybot/*                   @googleapis/github-automation @tbp
packages/conventional-commit-lint/*   @googleapis/github-automation @bcoe
packages/do-not-merge/*               @googleapis/github-automation @tbp
packages/failurechecker/*             @googleapis/github-automation @bcoe
packages/generated-files-bot/*        @googleapis/github-automation @chingor13
packages/header-checker-lint/*        @googleapis/github-automation @chingor13
packages/label-sync/*                 @googleapis/github-automation @JustinBeckwith
packages/merge-on-green/*             @googleapis/github-automation @sofisl
packages/monitoring-system/*          @googleapis/github-automation @chingor13
packages/release-please/*             @googleapis/github-automation @bcoe @chingor13
packages/slo-stat-bot/*               @googleapis/github-automation @orthros
packages/snippet-bot/*                @googleapis/github-automation @tmatsuo
packages/sync-repo-settings/*         @googleapis/github-automation @JustinBeckwith
packages/trusted-contribution/*       @googleapis/github-automation @crwilcox

# The github automation team is the default owner for the auto-approve file.
.github/auto-approve.yml @googleapis/github-automation/
