/* Font Imports */

@font-face {
    font-family: 'Google Sans';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/googlesansdisplay/v14/ea8FacM9Wef3EJPWRrHjgE4B6CnlZxHVDv79oQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* End of Font Imports */


/* HTML components */
  
body {
    background-color: #101010;
}

h1 {
    font-family: 'Google Sans', sans-serif;
    text-align: center;
    color: #f0a500;
    margin-bottom: 0;
}

h2, h3 {
    font-family: 'Google Sans', sans-serif;
    text-align: left;
    color: #c0c0c0;
    margin: 30 0 10 0px;
}

h4 {
    font-family: 'Google Sans', sans-serif;
    text-align: left;
    color: #f0a500;
    margin: 30 0 10 0px;
}

hr {
    background-color: #cccccc;
    margin-left: 0;
    border-style: solid;
    border-color: #cccccc;
}

/* End of HTML components */


/* Live Data Indicator */

.streaming-text {
    font-family: 'Google Sans', sans-serif;
    color: #c0c0c0;
    padding: 15px 15px 0 0;
}

.blinking_dot {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    opacity: .25;
    background-color: rgb(190, 81, 81);
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-animation: blink 1s infinite;
    -moz-animation: blink 1s infinite;
    -o-animation: blink 1s infinite;
    animation: blink 1s infinite;
}

@keyframes blink {
    0% {
        transform: scale(1);
        opacity: .25
    }
    50% {
        transform: scale (1, 5);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: .25;
    }
}

#streaming_indicator {
    margin: 0 auto auto auto;
    vertical-align: middle;
}

#streaming_indicator td {
    vertical-align: middle;
    align-items: center;
    min-width: 50%;
    padding: 10px;
}

/* End of Live Data Indicator */


/* Main structure */

#main_table {
    width: 85%;
    margin: auto;
    margin-top: 3%;
    min-width: 400px;
    max-width: 3000px;
    padding: 10px;
}

#left_block {
    max-width: 45%;
    vertical-align: top;
    float: left;
    position: relative;
}
#right_block {
    max-width: 45%;
    vertical-align: top;
    float: right;
    position: relative;
}

.heading_row_divider {
    width: 100%;
}

.subheading_row_divider {
    width: 50%;
}

.loading_animation {
    border: 6px solid #f0a500;
    border-top: 6px solid transparent;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    margin: 30px auto 30px auto;
    animation: spin .5s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* End of Main structure */


/* Numeric Data and Labels */

.stat {
    margin: 20 0 10 0px;
    font-family: 'Google Sans', sans-serif;
    text-align: center;
    font-size: 35;
    color: #f0a500;
}

.label {
    margin: 10 0 20 0px;
    font-family: 'Google Sans', sans-serif;
    text-align: center;
    font-size: 14;
    color: #c0c0c0;
}

.data > td {
    width: 7%;
    position: relative;
}

.data_div {
    display: inline-block;
    min-width: 150px;
}

/* End of Numeric Data and Labels */


/* Boxed data (objects) */

.object_div {
    margin: 5 0 5 0px;
    padding: 10px 20px 10px 20px;
    border-radius: 15px;
    border-width: 2px;
    border-style: solid;
    width: 90%;
    max-height: 150px;
}

.object_div:hover {
    cursor: pointer;
}

.object_text {
    text-decoration: none !important;
    font-family: 'Google Sans', sans-serif;
    text-align: left;
    font-size: 12;
}

.error_div {
    background-color:transparent;
    border-color: rgb(190, 81, 81);
}

.error_div:hover {
    background-color: rgb(190, 81, 81);
}

.error_div:hover p {
    color: white;
}

.error_text {
    color: rgb(190, 81, 81);
}

.action_text {
    color: rgb(0, 189, 101);
}

.action_div {
    background-color:transparent;
    border-color: rgb(0, 189, 101);
}

.action_div:hover {
    background-color: rgb(0, 189, 101);
}

.action_div:hover p {
    color: white;
}

/* End of Boxed data (objects) */