on:
  push:
    branches:
      - master
  pull_request:
name: ci
jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        package: [
          'auto-label',
          'blunderbuss',
          'buildcop',
          'conventional-commit-lint',
          'failurechecker',
          'gcf-utils',
          'generate-bot',
          'header-checker-lint',
          'label-sync',
          'merge-on-green',
          'publish',
          'release-please',
          'sync-repo-settings',
          'trusted-contribution'
        ]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 12
      - run: echo ./packages/${{ matrix.package }}
      - run: cd ./packages/${{ matrix.package }}
      - run: npm install
        working-directory: ./packages/${{ matrix.package }}
      - run: pwd
      - run: npm test
        working-directory: ./packages/${{ matrix.package }}
      - run: npm run lint
        working-directory: ./packages/${{ matrix.package }}
  go-test:
    name: Go tests
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        module: [
          'packages/buildcop',
          'serverless-scheduler-proxy'
        ]
    steps:
    - name: Install Go
      uses: actions/setup-go@v2-beta
      with:
        go-version: '^1.14'
    - name: Install goimports
      run: go get golang.org/x/tools/cmd/goimports
    - name: Checkout code
      uses: actions/checkout@v2
    - name: goimports
      run: |
        test -z "$($(go env GOPATH)/bin/goimports -l .)"
      working-directory: ./${{ matrix.module }}
    - name: Instructions to fix goimports (if necessary)
      run: echo Run goimports -w .
      if: failure()
    - run: go test ./...
      working-directory: ./${{ matrix.module }}
