on:
  push:
    branches:
      - master
  pull_request:
name: ci
jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        package: [
          'auto-label',
          'blunderbuss',
          'buildcop',
          'conventional-commit-lint',
          'failurechecker',
          'gcf-utils',
          'generate-bot',
          'header-checker-lint',
          'label-sync',
          'merge-on-green',
          'publish',
          'release-please',
          'sync-repo-settings',
          'trusted-contribution'
        ]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 12
      - run: echo ./packages/${{ matrix.package }}
      - run: cd ./packages/${{ matrix.package }}
      - run: npm install
        working-directory: ./packages/${{ matrix.package }}
      - run: npm test
        working-directory: ./packages/${{ matrix.package }}
      - run: npm run lint
        working-directory: ./packages/${{ matrix.package }}
