on:
  push:
    branches:
      - main
  pull_request:
  merge_group:
name: ci
jobs:
  changeFinder:
    runs-on: ubuntu-latest
    outputs:
      nodePaths: ${{ steps.interrogate.outputs.nodePaths }}
      goPaths: ${{ steps.interrogate.outputs.goPaths }}
      bashPaths: ${{ steps.interrogate.outputs.bashPaths }}
      requiredJobs: ${{ steps.interrogate.outputs.requiredJobs }}
    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4
        with:
          fetch-depth: 0
      - uses: actions/setup-node@1e60f620b9541d16bece96c5465dc8ee9832be0b # v4
        with:
          node-version: 18
      - id: interrogate
        run: node ./.github/workflows/interrogate.js
        env:
          GITHUB_BASE_REF: ${{github.base_ref}}
  test:
    runs-on: ubuntu-latest
    needs: changeFinder
    strategy:
      fail-fast: false
      matrix:
        package: ${{fromJson(needs.changeFinder.outputs.nodePaths)}}
    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4
      - uses: actions/setup-node@1e60f620b9541d16bece96c5465dc8ee9832be0b # v4
        with:
          node-version: ${{ (endsWith(matrix.package, '-utils') || matrix.package == 'auto-approve' || matrix.package == 'auto-label' || matrix.package == 'blunderbuss' || matrix.package == 'canary-bot' || matrix.package == 'cherry-pick-bot' || matrix.package == 'conventional-commit-lint' || matrix.package == 'datastore-lock' || matrix.package == 'do-not-merge' || matrix.package == 'flakybot' || matrix.package == 'label-sync' || matrix.package == 'object-selector' || matrix.package == 'release-please' || matrix.package == 'secret-rotator' || matrix.package == 'trusted-contribution' || matrix.package == 'owl-bot' ) && 18 || 14 }}
      - run: echo ./packages/${{ matrix.package }}
      - run: cd ./packages/${{ matrix.package }}
      - run: npm ci
        working-directory: ./packages/${{ matrix.package }}
      - run: pwd
      - run: npm test
        working-directory: ./packages/${{ matrix.package }}
      - run: npm run lint
        working-directory: ./packages/${{ matrix.package }}
  go-test:
    runs-on: ubuntu-latest
    needs: changeFinder
    strategy:
      fail-fast: false
      matrix:
        module: ${{fromJson(needs.changeFinder.outputs.goPaths)}}
    steps:
    - name: Install Go
      uses: actions/setup-go@0a12ed9d6a96ab950c8f026ed9f722fe0da7ef32 # v5
      with:
        go-version: '^1.16'
    - name: Install goimports
      run: go install golang.org/x/tools/cmd/goimports@latest
    - name: Checkout code
      uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4
    - name: goimports
      run: |
        test -z "$($(go env GOPATH)/bin/goimports -l .)"
      working-directory: ./${{ matrix.module }}
    - name: Instructions to fix goimports (if necessary)
      run: echo Run goimports -w .
      if: failure()
    - run: go test ./...
      working-directory: ./${{ matrix.module }}
  bash-test:
    runs-on: ubuntu-latest
    needs: changeFinder
    strategy:
      fail-fast: false
      matrix:
        module: ${{fromJson(needs.changeFinder.outputs.bashPaths)}}
    steps:
      - name: Checkout code
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4
      - name: bashtest
        run: |
          ./test.sh
        working-directory: ./${{ matrix.module }}
  finale:
    runs-on: ubuntu-latest
    needs: changeFinder
    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4
      - uses: actions/setup-node@1e60f620b9541d16bece96c5465dc8ee9832be0b # v4
        with:
          node-version: 18
      - run: npm install
      - run: node ./.github/workflows/finale.js '${{needs.changeFinder.outputs.requiredJobs}}' ${{secrets.GITHUB_TOKEN}}
