on:
  push:
    branches:
      - main
  pull_request:
name: ci
jobs:
  changeFinder:
    runs-on: ubuntu-latest
    outputs:
      nodePaths: ${{ steps.interrogate.outputs.nodePaths }}
      goPaths: ${{ steps.interrogate.outputs.goPaths }}
      bashPaths: ${{ steps.interrogate.outputs.bashPaths }}
      requiredJobs: ${{ steps.interrogate.outputs.requiredJobs }}
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v1
        with:
          node-version: 12
      - id: interrogate
        run: node ./.github/workflows/interrogate.js
        env:
          GITHUB_BASE_REF: ${{github.base_ref}}
  test:
    runs-on: ubuntu-latest
    needs: changeFinder
    strategy:
      fail-fast: false
      matrix:
        package: ${{fromJson(needs.changeFinder.outputs.nodePaths)}}
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node }}
      - run: echo ./packages/${{ matrix.package }}
      - run: cd ./packages/${{ matrix.package }}
      - run: npm install
        working-directory: ./packages/${{ matrix.package }}
      - run: pwd
      - run: npm test
        working-directory: ./packages/${{ matrix.package }}
      - run: npm run lint
        working-directory: ./packages/${{ matrix.package }}
  go-test:
    runs-on: ubuntu-latest
    needs: changeFinder
    strategy:
      fail-fast: false
      matrix:
        module: ${{fromJson(needs.changeFinder.outputs.goPaths)}}
    steps:
    - name: Install Go
      uses: actions/setup-go@v2
      with:
        go-version: '^1.16'
    - name: Install goimports
      run: go get golang.org/x/tools/cmd/goimports
    - name: Checkout code
      uses: actions/checkout@v2
    - name: goimports
      run: |
        test -z "$($(go env GOPATH)/bin/goimports -l .)"
      working-directory: ./${{ matrix.module }}
    - name: Instructions to fix goimports (if necessary)
      run: echo Run goimports -w .
      if: failure()
    - run: go test ./...
      working-directory: ./${{ matrix.module }}
  bash-test:
    runs-on: ubuntu-latest
    needs: changeFinder
    strategy:
      fail-fast: false
      matrix:
        module: ${{fromJson(needs.changeFinder.outputs.bashPaths)}}
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: bashtest
        run: |
          ./test.sh
        working-directory: ./${{ matrix.module }}
  finale:
    runs-on: ubuntu-latest
    needs: changeFinder
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 12
      - run: npm install
      - run: node ./.github/workflows/finale.js '${{needs.changeFinder.outputs.requiredJobs}}' ${{secrets.GITHUB_TOKEN}}
  docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: JustinBeckwith/linkinator-action@v1
        with:
          paths: '**/*.md'
          verbosity: 'ERROR'
          skip: 'node_modules/ http://devrel/products http://localhost:3000 https://www.github.com/googleapis/repo-automation-bots/compare/*'
