on:
  schedule:
    # every Monday morning
    - cron: '0 1 * * 1'
name: deps
jobs:
  findPackages:
    runs-on: ubuntu-latest
    outputs:
      nodePaths: ${{ steps.interrogate.outputs.nodePaths }}
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v1
        with:
          node-version: 12
      - id: interrogate
        run: node ./.github/workflows/list-node-paths.js
  updateDeps:
    runs-on: ubuntu-latest
    needs: findPackages
    strategy:
      fail-fast: false
      max-parallel: 4
      matrix:
        package: ${{fromJson(needs.findPackages.outputs.nodePaths)}}
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node }}
      - run: npm i -g npm-check-updates
      - run: echo ./packages/${{ matrix.package }}
      - run: ./scripts/update-dependencies.sh packages/${{ matrix.package }}
      - uses: googleapis/code-suggester@v1 # takes the changes from git directory
        env:
          ACCESS_TOKEN: ${{ secrets.YOSHI_CODE_BOT_TOKEN }}
        with:
          command: pr
          upstream_owner: googleapis
          upstream_repo: repo-automation-bots
          description: 'ran ./scripts/update-dependencies.sh packages/${{ matrix.package }}'
          title: 'deps: update ${{ matrix.package }} deps'
          message: 'deps: update ${{ matrix.package }} deps'
          branch: update-deps-${{ matrix.package }}
          primary: main
          force: true
          git_dir: '.'
